#hideme
{
    opacity:0;
}
#hideme1
{
    opacity:0;
}
#hideme2
{
    opacity:0;
}
#hideme3
{
    opacity:0;
}
#hideme4
{
    opacity:0;
}
#hideme5
{
    opacity:0;
}
#hideme6
{
    opacity:0;
}
#hideme7
{
    opacity:0;
}
#hideme8
{
    opacity:0;
}